*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hero__section{
    background-image: url(/images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px 16px;
}
a{
    color: white;
    text-decoration: none;
}
.nav__menu_container{
    display: flex;
    gap: 30px;
}
.user__icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid white;
    display: none;
}


.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 320px;    
}
.zomato__logo{
    height: auto;
    width: 200px;
}
.hero__section_title{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 350;
}
.hero__section_input_container{
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
.location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    padding: 5px;
    outline: none;
}
.search{
    width: 65%;
    border: none;
    padding: 5px;
    outline: none;
}
.container__we_offer{
    margin: 3rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.we__offer_card{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 1ms ease;
}
.we__offer_card:hover{
    transform: scale(1.1);
    background-color: aqua;
}
.we__offer_card img{
    width: 100%;
    height: 170px;
}
.we__offer_content{
    padding: 10px;
}
.we__offer_content h2{
    font-size: 25px;
    font-weight: 400;
}
.container__collection h1{
    font-weight: 600;
}
.sub__heading_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.sub__heading_container span:nth-child(2){
    font-size: 15px;
    color: #ff7e8b;
    cursor: pointer;
}
.collection__cards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.collection__cards_container .card{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    position: relative;
}
.Collection__card1{
    background-image: url(/images/collection1.jpg);
}
.Collection__card2{
    background-image: url(/images/collection2.jpg);
}
.Collection__card3{
    background-image: url(/images/collection3.jpg);
}
.Collection__card4{
    background-image: url(/images/collection4.jpg);
}
.overlays{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(
        to top,
        rgba(234,33,122,1),
        rgba(221,123,231,1) ,
        rgba(200,21,22,1) ,
    );
}
.content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}
.get__the_app{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255,251,247);
    width: 100%;
    padding: 3rem 6rem;
}
.semicontainer{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.left{
    flex: 2;
}
.left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.right h1{
    font-size: 40px;
    font-weight: 500;
}
.right p{
    font-size: 17px;
}
#email{
    cursor: pointer;
    accent-color: #f34657;
}
#phone{
    cursor: pointer;
    accent-color: #f34657;
}
.radio__button_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.Input__container{
    width: 100%;
    display: flex;
}
.Input__container button{
    width: auto;
    font-size: 15px;
    background-color: #f34657;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
}
.Input__container input{
    width: 60%;
    margin: 5px;
    padding: 5px;
}
.download__container{
    width: 100%;
}
.image__container{
    display: flex;
    gap: 10px;
    width: 60%;
    height: 100%;
}
.download__container h5{
    font-weight: 400;
}
.image__container img:nth-child(1){
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
.image__container img:nth-child(2){
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
.footer{
    width: 100%;
}
.footer__section1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.footer__section1 img{
    width: 130px;
}
.section1_buttoncontainer{
    display: flex;
    gap: 1rem;
}
.section1_buttoncontainer button{
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
} 
.footer__section2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}
.section2__content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section2__content h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}
.section2__content a{
    color: gray;
    text-decoration: none; 
    font-size: 12.5px;
    font-weight: 300;
}
.section2__content a:hover{
    color: black;
}
.section2__social{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.sociallink{
    display: flex;
    gap: 0.8rem;
}
.sociallink button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}
.sociallink button i{
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2__social img{
    width: 100%;
}


@media only screen and (max-width:1300px){
    .left, .right{
        flex: 1;
    }
    .semicontainer{
        width: 80%;
    }
}
@media only screen and (max-width:900px){
    .get__the_app{
        padding: 2rem 0;
    }
    .semicontainer{
        width: 95%;
        flex-direction: column;
    }
    .footer__section2{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width:600px){
    .navbar{
        height: 85px;
    }
    .user__icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
    .hero__section_container{
        width: 100%;
        height: calc(80vh - 85px);
    }
    .hero__section_input_container{
        width:92%
    }
    .hero__section_title{
        font-size:25px;
        color: white;
        text-align: center;
        font-weight: 250;
    }
    .footer__section2{
        grid-template-columns: repeat(2, 1fr);
    }
}